<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <title>Criar categoria</title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <% if (data.errors) { %>
        <% data.errors.errors.forEach(error => { %>
            <span><%- error.msg %></span>
            <span><%- error.path %></span>
        <% }) %>
    <% } %>

    <main>
        <form action="create-category" method="post">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name">

            <button type="submit">Criar</button>
        </form>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>