<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/css/products.css">
    <title>Produtos</title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <main>
        <% data.products.forEach(product => { %>
            <div class="product">
                <h3 class="product-name"><%= product.name %></h3>
                <span class="product-stock">Em estoque: <%= product.stock %></span>
                <span class="product-price">R$<span class="price"><%= product.price %></span></span>

                <div class="categories">
                    <% product.categories.forEach(category => { %>
                        <span class="category"><%- category.name %></span>
                    <% }) %>
                </div>
            </div>
        <% }) %>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>